<div class="container-sm">
    <div class="row justify-content-center vh-100">
        <div class="col-lg-5 align-self-center">
            <div class="card">
                <div class="card-header text-center bg-dark text-light">
                    <h1>{{{text}}}</h1>
                    <h5><i class="bi bi-microsoft"></i> Active Directory</h5>
                </div>
                <div class="card-body">
                    <form id="auth_form">
                        <div class="form-floating mb-3">
                            <input type="text" name="login_name" class="form-control" id="floatingLogin" placeholder="Логин" required>
                            <label for="floatingLogin">Логин</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" name="login_password" class="form-control" id="floatingPassword" placeholder="Пароль" required>
                            <label for="floatingPassword">Пароль</label>
                        </div>
                        <input type="button" id="login_submit" value="Войти в систему" class="btn btn-dark btn-lg w-100">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/bt5utils.js"></script>
<script src="./js/cookie.js"></script>
<script>
    if (!getCookie('JTOKEN')){
        setCookie( "JTOKEN", 'empty');
    }

    const bs5Utils = new Bs5Utils();

    login_submit.onclick = function() {
        axios.post('/auth', $('#auth_form').serialize())
                .then(function (response) {
                    let result = response.data
                    if (result.auth_state === 'fail'){
                        bs5Utils.Snack.show('danger', result.message, 10000, true);
                    } else{
                        console.log(result);
                        setCookie( "JTOKEN", result.message);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
    }
</script>
