<div class="bg-dark pe-3 text-end text-white">
    Сделано с любовью, для lovit © 2022 oskvortsov
</div>
<!--
⠄⠄⠄⠄⠄⠄⠄⠄⠄⢀⣠⠴⠒⢛⣋⣉⣉⣉⣉⣛⠓⠦⣤⣀⠄⠄⠄⠄⠄⠄
⠄⠄⠄⠄⠄⠄⣠⠴⢚⡭⠖⠚⠉⠉⠁⠄⠄⠄⠄⠉⠉⠓⠲⢭⡓⢦⡀⠄⠄⠄
⠄⠄⠄⠄⣠⢞⡥⠚⠉⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠄⠉⠳⡝⢦⠄⠄
⠄⠄⠄⣰⣫⠞⡤⡀⠄⢀⠄⠄⠄⠄⡀⠄⡀⠄⠄⡀⠄⠄⠄⠄⠄⠄⠘⣎⢧⠄
⠄⠄⢰⣷⠇⠈⠛⣵⠄⠄⢁⡆⠄⢠⠇⠸⢼⡀⠾⠻⠢⡄⠄⠄⠄⠄⠄⠘⡾⡆
⠄⠄⡏⡼⠄⠄⣼⠏⠄⢠⣾⠄⢀⡞⣳⡀⠈⣧⠄⠄⠄⢹⡄⢀⡶⣛⣓⣦⢹⣷
⠄⢸⠁⡇⠄⣸⠁⠄⣠⢯⡇⢀⣾⣀⠄⢳⡄⢻⡄⠄⠄⠈⣿⣸⣸⠁⠄⢸⠈⢹
⠄⢸⠄⡇⢠⠇⢀⡜⢁⣟⡴⠋⠄⠉⠉⠓⠻⡜⡇⠄⢀⣖⡿⠿⠋⠄⠄⠋⠉⢻
⠄⢿⠄⣇⢸⡞⠁⢠⡾⠋⠄⠄⠄⠄⠄⠄⠄⢻⡇⠄⠸⣟⠁⠄⠄⡟⢦⠄⠄⣸
⠄⢸⠄⠹⡾⡯⠿⠦⡄⠄⠄⠄⢀⣤⣦⣄⡀⠄⣧⠄⠄⠈⡷⠆⠄⣇⠸⡆⢾⡷
⠄⢸⠄⠄⡇⣷⠄⠄⠄⠄⠄⠄⠄⠄⠄⠈⠙⠃⣿⠄⠄⠸⣇⠄⢀⣿⠄⠹⣾⠃
⠄⢸⠄⠄⡇⣿⠄⠄⠘⠄⠄⠄⠄⠄⠄⠄⠄⠄⣿⠄⠄⢸⣿⣿⠉⢸⠄⠄⢙⠄
⠄⠈⡇⠄⢧⢻⡀⠄⠄⣀⠄⠄⠄⣀⠄⠄⠄⠄⣿⠄⠄⢸⠉⢸⠄⠈⡇⠄⠄⢧
⠄⠄⢹⠄⢸⠈⢷⣄⠄⠈⠃⠘⠉⠁⠄⠄⠄⣠⣿⠄⠄⡏⠄⠘⡀⠄⢿⠄⠄⠈
⠄⠄⠄⢇⠄⢇⠄⠙⠳⣤⡀⠄⢀⣠⡤⢖⣋⡥⡇⠄⣸⠄⠄⠄⣇⠄⢹⡇⠄⠄
⠄⠄⠄⠈⢇⠘⣄⠄⠄⠄⠉⢩⢿⣷⣿⡉⠄⢸⠇⢸⠟⢳⠤⠤⠼⣄⡘⣿⡀⠄
⠄⠄⠄⠄⠈⣧⡙⣴⠋⠉⠉⣻⣾⣇⣿⣧⠄⣼⣰⠃⣰⠋⢀⡤⠖⠂⠈⢳⣧⠄
⠄⠄⠄⢠⡞⣫⠽⢿⣇⡴⡏⢻⣿⣿⣟⣟⣿⡷⠃⣰⠃⡴⠋⠄⠄⠄⠄⠄⣿⢧ -->

</body>
</html>